<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="local-nupkg" value="./nupkg" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="local-nupkg">
			<package pattern="RamUsage" />
		</packageSource>
	</packageSourceMapping>
</configuration>