@page
@model EnvironmentApplication.Pages.Index2Model
@{
}

<style>

</style>

<div class="alert alert-primary" role="alert">
    <h1 class="fs-4">TagHelper</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-2">
            <environment-label></environment-label>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-2">
        <div class="col-2">
            @* 
            provide a custom class which overrides the default style  
            env-label is defined in wwwroot/css/site.css
            *@
            <environment-label class="env-label"></environment-label>
        </div>
    </div>
</div>