@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="alert alert-primary" role="alert">
    <h1 class="fs-4">Partial page</h1>
</div>

<div class="container">
    <partial name="_EnvironmentBanner" />
</div>
