@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="display-4">Welcome</h1>
    
    <environment include="Development">
        <div class="row">
            <div class="col-1">
                Development
            </div>
        </div>
    </environment>

    <environment include="Staging">
        <div class="row">
            <div class="col-1">
                Staging
            </div>
        </div>
    </environment>

    <environment include="Production">
        <div class="row">
            <div class="col-1">
                Production
            </div>
        </div>
    </environment>

</div>

