--- create EF_Filters

USE [EF_Filters]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/11/2026 2:34:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsManager] [bit] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [IsDeleted], [IsManager]) VALUES (1, N'John', N'Smith', 1, 1)
INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [IsDeleted], [IsManager]) VALUES (2, N'Mary', N'Johnson', 0, 1)
INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [IsDeleted], [IsManager]) VALUES (3, N'Robert', N'Williams', 1, 0)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsManager]  DEFAULT ((0)) FOR [IsManager]
GO
USE [master]
GO
