USE [BooksDatabase]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 5/19/2026 12:47:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Book]') AND type in (N'U'))
DROP TABLE [dbo].[Book]
GO
USE [master]
GO
/****** Object:  Database [BooksDatabase]    Script Date: 5/19/2026 12:47:26 PM ******/
DROP DATABASE [BooksDatabase]
GO
/****** Object:  Database [BooksDatabase]    Script Date: 5/19/2026 12:47:26 PM ******/
CREATE DATABASE [BooksDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BooksDatabase', FILENAME = N'C:\Users\paynek\BooksDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BooksDatabase_log', FILENAME = N'C:\Users\paynek\BooksDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BooksDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BooksDatabase]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 5/19/2026 12:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [BookName], [Price], [Rating]) VALUES (1, N'The Silent Harbor', CAST(19 AS Decimal(18, 0)), 8)
INSERT [dbo].[Book] ([Id], [BookName], [Price], [Rating]) VALUES (2, N'Code of Shadows', CAST(25 AS Decimal(18, 0)), 9)
INSERT [dbo].[Book] ([Id], [BookName], [Price], [Rating]) VALUES (3, N'Learning SQL Server', CAST(45 AS Decimal(18, 0)), 10)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
USE [master]
GO
