@page
@model BootstrapComponentsApp.Pages.BadgeDemoModel
@{}

<div class="container">
    <div class="alert alert-primary" role="alert">
        <h1 class="fs-5 text-center">Badge example</h1>
    </div>
</div>

<form method="post">
    <div class="mt-4 mb-2 d-flex gap-3">

        <button type="button" class="btn btn-primary position-relative">
            Inbox
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @Model.BadgeDisplay
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>

        <button type="submit" asp-page-handler="Increment" class="btn btn-success">
            Increment Badge
        </button>
        
        <button type="submit" asp-page-handler="Decrement" class="btn btn-secondary">
            Decrement Badge
        </button>

    </div>
</form>