USE [EF.JsonHybrid]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 6/29/2026 9:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationName] [nvarchar](max) NOT NULL,
	[ContactName] [nvarchar](max) NOT NULL,
	[MailSettings] [nvarchar](max) NOT NULL,
	[GeneralSettings] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationId], [ApplicationName], [ContactName], [MailSettings], [GeneralSettings]) VALUES (1, N'ACED', N'Kim Jenkins', N'{"FromAddress":"FromAddressAced","Host":"AcedHost","PickupFolder":"C:\\MailDrop","Port":15,"TimeOut":2000}', N'{"MainDatabaseConnection":"Data Source=.\\sqlexpress;Initial Catalog=WorkingWithDate;Integrated Security=True;Encrypt=False","ServicePath":"http://localhost:11111/api/"}')
INSERT [dbo].[Applications] ([ApplicationId], [ApplicationName], [ContactName], [MailSettings], [GeneralSettings]) VALUES (2, N'SIDES', N'Mike Adams', N'{"FromAddress":"FromAddressSides","Host":"SidesHost","PickupFolder":"C:\\MailDrop","Port":15,"TimeOut":2000}', N'{"MainDatabaseConnection":"Data Source=.\\sqlexpress;Initial Catalog=WorkingWithTime;Integrated Security=True;Encrypt=False","ServicePath":"http://localhost:22222/api/"}')
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
USE [master]
GO
